* {
  margin: 0;
  padding: 0;
  
}

body {
  font-family: Arial, sans-serif;
  background: #1f1f22;   
}


.hero {
  justify-content: space-between;
  margin:50px;
  height: 0px;            
}

.nav {
  display: flex;
  font-size: 20px;
  float: right;
}

.nav a {
  margin-right: 100px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.nav a:hover {
color:#D95583;
}

.hero__text { 
font-size: 150px;
}

.hero__logo {
  font-size: 24px;
  font-weight: 152px;
  color: white;
 
}

.hero__subtitle {
  font-weight: 150px;  
  font-size: 21px;
  color: #ffffff;
  margin-top: 5px;
}

.hero__image {
display: block;
height: 894px;
width: 780px;
float: right;
margin-right: 150px;
margin-bottom: 70px;

}


.hero_title {
  font-size: 61px;
  display: flex;
  margin-top: 300px;
  color: transparent;
  background-image: linear-gradient(to left, #003ACE, #CE0094); 
  background-clip: text;   

}

.button { 

width: 200px;
height: 62px;
font-size: 20px;
color: white;
background-image: linear-gradient(to left, #003ACE, #CE0094); 
margin-top: 200px;

}

.button:hover {
 background: red; 
}

  
.main {
padding: 100px;

}



.main_text { 
display: block;
color: whitesmoke;
font-size: 18px;
margin-top: 850px;
margin-left: 213px;


}

.main__A {

  color:red;
}





.section {

margin-top: 300px


}

.section__market { 
position: absolute;
color: transparent;
background-image: linear-gradient(to left, red, blue); 
background-clip: text;   

}



.section__image {

width: 436px;
height: 316px;
padding: 56px;
margin-top: 60px;

}

.footer {
color: transparent;
background-image: linear-gradient(to left, #242427, #676767); 
padding: 300px;
}

.footer__text {
color: white;
line-height: 25px;  
}