* {
  margin: 0;
  padding: 0;
  
}

body {
  font-family: Arial, sans-serif;
  background: #1f1f22;   
}


.hero {
  margin: 82px;  
  height: 0px;            
  display: flex;
  
}


.hero__content {
  display: flex;
  align-items: center;
  gap: 30px;
         
}


.hero__line {
  width: 2px;
  height: 90px;
  background-color: #D95583;
}

.hero__title {
  font-size: 24px;
  font-weight: 152px;
  color: #ffffff;
  line-height: 1;
  
}

.hero__subtitle {
  font-weight: 150px;  
  font-size: 21px;
  color: #ffffff;
  margin-top: 10px;
}


.nav {
  display: flex;
 
 
}

.nav a {
  
  margin-right: 274px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.nav a:hover {

color:#D95583;
}

.nav__about {
display: flex;
position: static;


}

.hero_title {
  display: flex;
  margin-top: 100px;
}

.hero_title_bth {
margin-bottom: 2300px;


}

.main_a {

  color: red;
}

.main_text { 
display: flex;
color: white;
font-size: 15px;
display: flex;
margin-top: 750px;
position: absolute;
padding-bottom: 60px;
margin-left: 213px;
font-family: Helvetica;

}

.section {

margin-top: 1100px;


}