* {
  margin: 0;
  padding: 0;
  
}

body {
  font-family: Arial, sans-serif;
  background: #1f1f22;   
}


.hero {
  margin:82px;
  height: 0px;            
}


.hero__text { 
font-size: 150px;
}




.hero__title {
  font-size: 24px;
  font-weight: 152px;
  color: #ffffff;
 
}

.hero__subtitle {
  font-weight: 150px;  
  font-size: 21px;
  color: #ffffff;
  margin-top: 5px;
}


.hero__image {
display: flex;
height: 894px;
width: 780px;
float: right;
margin-right: 140px;

}


.nav {
  margin-right: 40px;
  font-size: 20px;
}

.nav a {
  margin-right: 274px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.nav a:hover {
color:#D95583;
}


.hero_title {
  font-size: 61px;
  display: flex;
  margin-top: 300px;
  color: transparent;
  background-image: linear-gradient(to left, #003ACE, #CE0094); 
  background-clip: text;   
}


.main {
margin: 409px;
}

.main_text { 
display: flex;
color: white;
font-size: 15px;
display: flex;
margin-top: 750px;
position: absolute;
padding-bottom: 60px;
margin-left: 213px;
font-family: Helvetica;

}

.main_text  { 
  color:red;
}

.button { 

width: 200px;
height: 62px;
font-size: 20px;
color: white;
background-image: linear-gradient(to left, #003ACE, #CE0094); 
margin-top: 200px;
}

.button:hover {
 background: red; 
}

.section {

margin-top: 1100px;


}

.section__image {

width: 436px;
height: 316px;
padding: 56px;


}