* {
  margin: 0;
  padding: 0;
  
}

body {
  font-family: Arial, sans-serif;
  background: #1f1f22;   
}


.hero {
  margin: 82px;  
  height: 0px;            
}



.hero__content {
  align-items: center;
  gap: 30px;
         
}

.hero__image { 
float: left;


}

.hero__line {
  width: 90px;
  height: 10px;
  background-color: #D95583;
}

.hero__title {
  font-size: 24px;
  font-weight: 152px;
  color: #ffffff;
 
}

.hero__subtitle {
  font-weight: 150px;  
  font-size: 21px;
  color: #ffffff;
  margin-top: 5px;
}


.nav {
  display: block;
  float: right;
  font-size: 40px;
 
 
}

.nav a {
  
  margin-right: 274px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.nav a:hover {

color:#D95583;
}

.hero__image {
height: 300px;
width: 300px;
float: right;

}

.hero_title {
  display: flex;
  margin-top: 100px;
}

.hero_title_bth {
margin-bottom: 2300px;


}

.main_text { 
display: flex;
color: white;
font-size: 15px;
display: flex;
margin-top: 750px;
position: absolute;
padding-bottom: 60px;
margin-left: 213px;
font-family: Helvetica;

}

.main_text  { 
  color:red;
}

.button { 

width: 200px;
height: 62px;
font-size: 20px;

color: white;
background-color: #D95583;
}

.section {

margin-top: 1100px;


}

.section__image {

width: 436px;
height: 316px;
padding: 56px;


}