* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #1f1f22;   
}


.hero {
  margin: 82px;  
  height: 0px;            
  display: flex;
  
}


.hero__content {
  display: flex;
  align-items: center;
  gap: 30px;
         
}


.hero__line {
  width: 2px;
  height: 90px;
  background-color: #D95583;
}

.hero__title {
  font-size: 24px;
  font-weight: 152px;
  color: #ffffff;
  line-height: 1;
}

.hero__subtitle {
  font-weight: 150px;  
  font-size: 21px;
  color: #ffffff;
  margin-top: 10px;
}


.nav {
  display: flex;
 
}

.nav a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}



